<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Profile</title>
  </head>
  <body>

    <!-- PROFILE HEADER -->

    <div class="cover-container base-layer">
      <img
        src={{user.coverPicture}}
        alt="{{user.firstName}}-{{user.lastName}}-cover-photo"
        width="100%"
        height="100%"
      />

      <div class="cover-info-container child-layer">
        <div id="profile-photo" class="test">
          <img src={{user.profilePicture}} alt="silhouette" />
        </div>
        <div id="name-pronouns" class="test">
          <h1 style="display:inline-block;">{{user.firstName}} {{user.lastName}}</h1>
          <h4 style="display:inline-block;"> {{user.aboutMe.pronouns}}</h4>
        </div>
        {{#unless user.isProfileOwner}}
          {{#unless user.isFriends}}
          <div id="edit-add-friend-button" class="test">
            <form action="/friends/add/{{user._id}}?_method=PATCH" method="post">
              <input
                id="add-friend-button"
                type="submit"
                class="add-edit-profile-button"
                value="ADD FRIEND"
                name="add-friend"
              />
            </form>
          </div>
          {{/unless}}
        {{/unless}}
      </div>
    </div>
    <!-- PROFILE CONTENT-->

    <div class="profile-content-container">
      <div class="profile-content-container-child friends-container">
        {{#if user.isProfileOwner}}
          <h2 style="text-align:center">Your friends</h2>
        {{else}}
          <h2 style="text-align:center">{{user.firstName}}'s friends</h2>
        {{/if}}
        <div class="friends-flex-container">
          {{#each user.friends}}
            <div class="friends-child">
              <div class="friend-image">
                <a href="/profile/{{this._id}}">
                <img
                  src={{this.profilePicture}}
                  alt="friends-profile-picture"
                  height="70px"
                  width="70px"
                />
                </a>
              </div>
              <div class="friend-name">
                <a href="/profile/{{this._id}}">
                <h4>{{this.firstName}} {{this.lastName}}</h4>
                </a>
              </div>
            </div>
          {{/each}}

        </div>
      </div>

      <div class="profile-content-container-child posts-container">
        {{#if user.isProfileOwner}}
          <h2>Shared by you...</h2>
        {{else}}
          <h2>Shared by {{user.firstName}}</h2>
        {{/if}}

        {{#each user.posts}}

          <div class="post-container card" id="{{this._id}}">

            <div class="post-header">
              <span class="name">{{this.user.firstName}}</span>
              <span class="date-posted">15 mins ago</span>
            </div>

            <div class="post-body">
              <p class="message">
                {{this.message}}
              </p>
            </div>

          </div>

        {{/each}}
      </div>

      <div class="profile-content-container-child about-container">
        <h2>About me</h2>
        <div class="about-fields">
          <div class="education">
            <h5>Education: {{user.aboutMe.education}}</h5>
            <p></p>
          </div>
          <div class="workplace">
            <h5>Workplace: {{user.aboutMe.workplace}}</h5>
            <p></p>
          </div>
          <div class="relationship-status">
            <h5>Relationship status: {{user.aboutMe.relationshipStatus}}</h5>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>