<html lang="en">
  <head>
    <title>Profile</title>
  </head>
  <body>

    <!-- PROFILE HEADER -->

    <div class="cover-container base-layer">
      <img
        src={{user.coverPicture}}
        alt="{{user.firstName}}-{{user.lastName}}-cover-photo"
        width="100%"
        height="40%"
      />

      <div class="cover-info-container child-layer">
        <div id="profile-photo" class="test">
          <img
            src={{user.profilePicture}}
            alt="silhouette"
            width="80px"
            height="80px"
          />
        </div>
        <div id="name-pronouns" class="test">
          <h1>{{user.firstName}} {{user.lastName}}</h1>
          <h4>They/Them</h4>
        </div>
        <div id="edit-add-friend-button" class="test">
          <form action="" method="post">
            <input type="submit" value="ADD FRIEND" name="add-friend" />
          </form>
        </div>
      </div>
    </div>
    <!-- PROFILE CONTENT-->

    <div class="profile-content-container">
      <div class="profile-content-container-child friends-container">
        <h2>FRIENDS</h2>
        HANDLEBAR LOOP
      </div>

      <div class="profile-content-container-child posts-container">
        <h2>SHARED BY YOU...</h2>
        {{#each posts}}

          <div class="post-container card" id="{{this._id}}">

            <div class="post-header">
              <span class="name">{{this.user.firstName}}</span>
              <span class="date-posted">15 mins ago</span>
            </div>

            <div class="post-body">
              <p class="message">
                {{this.message}}
              </p>
            </div>

          </div>

        {{/each}}
      </div>

      <div class="profile-content-container-child about-container">
        <h2>ABOUT ME</h2>
        <div class="about-fields">

        </div>
      </div>
    </div>
  </body>
</html>