<html lang="en">
  <head>
  <title>Profile</title>
  </head>
  <body style="margin-top: -18px;">
    
     <!-- PROFILE HEADER -->

    <div class="cover-container base-layer">
      {{#if data.user.isEditingProfile}}
        <form action="/profile/user/{{data.user._id}}/edit" method="get">
      {{else}}
        <form action="/profile/user/{{data.user._id}}/edit" method="post">
      {{/if}}
      <img
        class="actual-cover-photo"
        src={{data.user.coverPicture}}
        alt="{{data.user.firstName}}-{{data.user.lastName}}-cover-photo"
      />

      <div class="cover-info-container child-layer">
        <div id="profile-photo" >
          <img src={{data.user.profilePicture}} alt="silhouette" />
        </div>
        <div class="name-pronouns">
          <input type="text" name="profileName" class="profile-name" value="{{data.user.firstName}} {{data.user.lastName}}" {{data.user.isEditingProfile}}/>
          <input type="text" name="profilePronouns" class="profile-pronouns" value="{{data.user.pronouns}}" {{data.user.isEditingProfile}}/>
        </div>
        <div class="empty-header-div"></div>
        <div class="empty-header-div"></div>
        {{#if data.user.isProfileOwner}}
          {{#if data.user.isEditingProfile}}
          <div id="dynamic-cover-button" class="large-button">
            <input
              id="update-profile-button"
              type="submit"
              class="dynamic-cover-button-class white-primary-lavendar-accent"
              value="Edit profile"
              name="update-profile-friend"
            />
          </form>
          </div>
          {{else}}
          <div id="dynamic-cover-button" class="large-button">
            <input
              id="update-profile-button"
              type="submit"
              class="dynamic-cover-button-class white-primary-lavendar-accent"
              value="Save changes"
              name="update-profile-friend"
            />
          </form>
          </div>
          {{/if}}
        {{else}}
          {{#unless data.user.isFriends}}
          </form>
            <div id="dynamic-cover-button" class="large-button">
              <form
                action="/friends/add/{{data.user._id}}?_method=PATCH"
                method="post"
              >
                <input
                  id="friend-unfriend-button"
                  type="submit"
                  class="dynamic-cover-button-class white-primary-lavendar-accent"
                  value="Add friend"
                  name="add-friend"
                />
              </form>
            </div>
          {{/unless}}
          {{#if data.user.isFriends}}
          </form>
            <div id="dynamic-cover-button" class="large-button">
              <form
                action="/friends/delete/{{data.user._id}}?_method=DELETE"
                method="post"
              >
                <input
                  id="friend-unfriend-button"
                  type="submit"
                  class="dynamic-cover-button-class"
                  value="Unfriend"
                  name="unfriend"
                />
              </form>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <!-- PROFILE CONTENT-->

    <div class="profile-content-container">
      <div class="profile-content-container-child friends-container">
        {{#if data.user.isProfileOwner}}
          <h1 style="text-align:center">Your friends</h1>
        {{else}}
          <h2 style="text-align:center">{{data.user.firstName}}'s friends</h2>
        {{/if}}
        <div class="friends-flex-container">
          {{#each data.user.friends}}
            <div class="friends-child">
              <div class="friend-image">
                <a href="/profile/{{this._id}}">
                  <img
                    src={{this.profilePicture}}
                    alt="friends-profile-picture"
                    height="70px"
                    width="70px"
                  />
                </a>
              </div>
              <div class="friend-name">
                <a href="/profile/{{this._id}}">
                  <h4>{{this.firstName}} {{this.lastName}}</h4>
                </a>
              </div>
            </div>
          {{/each}}

        </div>
      </div>

      <div class="profile-content-container-child posts-container">
        {{#if data.user.isProfileOwner}}
          <h1>Shared by you...</h1>
        {{else}}
          <h1>Shared by {{data.user.firstName}}</h1>
        {{/if}}
        <div class="post-list">

          {{!-- <div class="card">
            <form class="post-form" id="new-post-form" action="/posts" method="post">
              <input
                id="message-input"
                class="message-input"
                name="message"
                type="text"
                placeholder="Hi {{sessionUser.firstName}}, what's on your mind?"
              />
              <input
                id="img-input"
                class="message-input"
                name="image"
                type="text"
                placeholder="Upload Image"
              />
              <input type="submit" value="Post" />
            </form>
          </div> --}}

          {{#each data.user.posts}}

            <div class="post-container card" id="{{this._id}}">
              <div class="actual-post">
                <div class="profile-picture">
                  <a href="/profile/{{this.user._id}}">
                    <img class="rounded-circle" 
                    {{#if this.user.profilePicture}}
                      src={{this.user.profilePicture}}
                    {{else}}
                      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    {{/if}}
                    />
                  </a>
                </div>
                <div class="post-body">
                  <div class="post-header">
                    <a href="/profile/{{this.user._id}}"></a>
                    <span class="post-author">{{this.user.firstName}}
                      {{this.user.lastName}}</span>
                    <div class="date-posted">{{this.createdAtFormatted}}</div>
                  </div>

                  <div class="post-content">
                    {{#if this.image}}
                      <p class="image">
                        <img src={{this.image}} />
                      </p>
                    {{/if}}

                    <p class="message">
                      {{this.message}}
                    </p>

                  </div>

                  <div class="post-footer">

                    <p>{{this.comments.length}} comments</p>
                    {{!-- <p>{{this.likes.length}} likes</p> --}}
                    {{! buttons for likes, comments, update post will be here }}
                  </div>
                </div>
              </div>
              <div class="comments-list">
                <form class="comment-form" action="/comments/new" method="post">
                  <input type="hidden" name="postId" value="{{this._id}}" />
                  <input class="comment-input" name="comment" type="text" />
                  <input type="submit" value="Add Comment" />
                </form>
                {{#each this.comments}}
                  <div class="comment-container">
                    <div class="comment-profile-picture">
                      <img class="rounded-circle"
                      {{#if this.user.profilePicture}}
                        src={{this.user.profilePicture}}
                      {{else}}
                      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                      {{/if}}
                      />
                    </div>
                    <div class="comment-body">
                      <div class="comment-header">
                        <span class="comment-author">{{this.user.firstName}}</span>
                        <span class="date-posted">{{this.createdAtFormatted}}</span>
                      </div>
                      <div class="comment-text">
                        {{this.message}}
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
              </div>

      <div class="profile-content-container-child about-container">
        <h1>About me</h1>
        {{!-- Conditionals for editing the route --}}
          {{#if data.user.isEditingInfo}}
            <form action="/profile/{{data.user._id}}/edit" method="get">
          {{else}}
            <form action="/profile/{{data.user._id}}/edit" method="post">
          {{/if}}
        <div class="about-fields">
          <div class="education about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/book-half.png" />
            </div>
            <div class="about-me-text">
              <h4>Education</h4>
              <input type="text" id="education" name="education" value="{{data.user.aboutMe.education}}" placeholder="No education info" {{data.user.isEditingInfo}}/>
            </div>
          </div>
          <div class="workplace about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/briefcase-fill.png" />
            </div>
            <div class="about-me-text">
              <h4>Workplace</h4>
              <input type="text" id="workplace" name="workplace" value="{{data.user.aboutMe.workplace}}" placeholder="No workplace info" {{data.user.isEditingInfo}}/>
            </div>
          </div>
          <div class="relationship-status about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/person-hearts.png" />
            </div>
            <div class="about-me-text">
              <h4>Relationship status</h4>
              <input type="text" id="relationshipStatus" name="relationshipStatus" value="{{data.user.aboutMe.relationshipStatus}}" placeholder="No relationship info" {{data.user.isEditingInfo}}/>
            </div>
          </div>
          <div class="edit-update-button-container about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/person-hearts.png" style="display:none"/>
            </div>
            <div class="large-button">
              {{#if data.user.isProfileOwner}}
                {{#if data.user.isEditingInfo}}
                  <input type="submit" id="dynamic-about-me-button" name="edit-profile" value="Update info"/>
                {{else}}
                  <input type="submit" id="dynamic-about-me-button" name="edit-profile" value="Save changes"/>
                {{/if}}
              {{else}}
                <input type="submit" name="edit-profile" value="Edit profile" style="display: none;"/>
              {{/if}}
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>