<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Profile</title>
  </head>
  <body>

    <!-- PROFILE HEADER -->

    <div class="cover-container base-layer">
      <img
        class="actual-cover-photo"
        src={{user.coverPicture}}
        alt="{{user.firstName}}-{{user.lastName}}-cover-photo"
      />

      <div class="cover-info-container child-layer">
        <div id="profile-photo" class="test">
          <img src={{user.profilePicture}} alt="silhouette" />
        </div>
        <div id="name-pronouns" class="test">
          <h1 style="display:inline-block;">{{user.firstName}}
            {{user.lastName}}</h1>
          <h4 style="display:inline-block;"> {{user.aboutMe.pronouns}}</h4>
        </div>
        {{#unless user.isProfileOwner}}
          {{#unless user.isFriends}}
            <div id="edit-friend-unfriend-button" class="test">
              <form
                action="/friends/add/{{user._id}}?_method=PATCH"
                method="post"
              >
                <input
                  id="friend-unfriend-button"
                  type="submit"
                  class="add-edit-profile-button"
                  value="Add friend"
                  name="add-friend"
                />
              </form>
            </div>
          {{/unless}}
          {{#if user.isFriends}}
            <div id="edit-friend-unfriend-button" class="test">
              <form
                action="/friends/delete/{{user._id}}?_method=DELETE"
                method="post"
              >
                <input
                  id="friend-unfriend-button"
                  type="submit"
                  class="add-edit-profile-button"
                  value="Unfriend"
                  name="unfriend"
                />
              </form>
            </div>
          {{/if}}
        {{/unless}}
      </div>
    </div>
    <!-- PROFILE CONTENT-->

    <div class="profile-content-container">
      <div class="profile-content-container-child friends-container">
        {{#if user.isProfileOwner}}
          <h2 style="text-align:center">Your friends</h2>
        {{else}}
          <h2 style="text-align:center">{{user.firstName}}'s friends</h2>
        {{/if}}
        <div class="friends-flex-container">
          {{#each user.friends}}
            <div class="friends-child">
              <div class="friend-image">
                <a href="/profile/{{this._id}}">
                  <img
                    src={{this.profilePicture}}
                    alt="friends-profile-picture"
                    height="70px"
                    width="70px"
                  />
                </a>
              </div>
              <div class="friend-name">
                <a href="/profile/{{this._id}}">
                  <h4>{{this.firstName}} {{this.lastName}}</h4>
                </a>
              </div>
            </div>
          {{/each}}

        </div>
      </div>

      <div class="profile-content-container-child posts-container">
        {{#if user.isProfileOwner}}
          <h2>Shared by you...</h2>
        {{else}}
          <h2>Shared by {{user.firstName}}</h2>
        {{/if}}
        {{#each user.posts}}

          <div class="post-container card" id="{{this._id}}">

            <div class="post-header">
              <span class="name">{{this.user.firstName}}</span>
              <span class="date-posted">15 mins ago</span>
            </div>

            <div class="post-body">
              <p class="message">
                {{this.message}}
              </p>
            </div>

          </div>

        {{/each}}
      </div>

      <div class="profile-content-container-child about-container">
        <h2>About me</h2>
          {{#if user.isEditing}}
            <form action="/profile/{{user._id}}/edit" method="get">
          {{else}}
            <form action="/profile/{{user._id}}/edit" method="post">
          {{/if}}
        <div class="about-fields">
          <div class="education about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/book-half.png" />
            </div>
            <div class="about-me-text">
              <h4>Education</h4>
              <input type="text" id="education" name="education" value="{{user.aboutMe.education}}" placeholder="No education info" {{user.isEditing}}/>
            </div>
          </div>
          <div class="workplace about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/briefcase-fill.png" />
            </div>
            <div class="about-me-text">
              <h4>Workplace</h4>
              <input type="text" id="workplace" name="workplace" value="{{user.aboutMe.workplace}}" placeholder="No workplace info" {{user.isEditing}}/>
            </div>
          </div>
          <div class="relationship-status about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/person-hearts.png" />
            </div>
            <div class="about-me-text">
              <h4>Relationship status</h4>
              <input type="text" id="relationshipStatus" name="relationshipStatus" value="{{user.aboutMe.relationshipStatus}}" placeholder="No relationship info" {{user.isEditing}}/>
            </div>
          </div>
          <div class="edit-update-button-container about-fields-child">
            <div class="about-me-icon-label">
              <img src="/images/assets/person-hearts.png" style="display:none"/>
            </div>
            <div class="large-button">
              {{#if user.isProfileOwner}}
                <input type="submit" name="edit-profile" value="Edit profile"/>
              {{else}}
                <input type="submit" name="edit-profile" value="Edit profile" style="display: none;"/>
              {{/if}}
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>