<h1>Notifications</h1>

  {{#if friendConfirmation}}
    <div id="error-message" class="alert alert-dark" role="alert">{{friendConfirmation}}</div>
  {{/if}}

{{#each notifications}}
  <div class="notification-container card" id="{{this._id}}">
        <div class="notification-profile-picture">
          <span>{{this.createdAtFormatted}}</span>
          <img src={{this.user.profilePicture}} width="50" height="50" class="rounded-circle"/>
        </div>
        {{#if this.isFriendRequest}}
        <div class="notification-content">
          <span class="notification-message">{{this.user.firstName}} {{this.user.lastName}} sent you a friend request</span>
        </div>
        {{else if this.isComment}}
        <div class="notification-content">
          <span class="notification-message">{{this.user.firstName}} {{this.user.lastName}} commented on your post</span>
        </div>
        {{/if}}
        
        <div class="notification-buttons">
          {{#if this.isFriendRequest}}
          <form action="/friends/confirm/{{this.user._id}}/notification/{{this._id}}" method="post">
              <input id="confirm-friend-request" class="notification-button" type="submit" value="✓">
          </form>
          {{/if}}
          <form action="/notifications/delete/{{this._id}}" method="post">
              <input id="delete-notification" class="notification-button" type="submit" value="✘">
          </form>
        </div>
    </div>
{{/each}}
