<div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src={{session.user.profilePicture}} alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">{{session.firstName}}{{session.lastName}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">{{this.createdAt}}</span>
                                <img src={{this.sender.profilePicture}} alt="avatar">
                            </div>
                            <div class="message other-message float-right"> {{this.message.text}} </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">{{this.createdAt}}</span>
                                <img class="float-right" src={{this.sender.profilePicture}} alt="avatar">
                            </div>
                            <div class="message my-message">{{this.message.text}}</div>                                    
                        </li>                               
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:15 AM, Today</span>
                            </div>
                            <div class="message my-message">Project has been already finished and I have results to show you.</div>
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>