<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                     {{#each friends}}
                      <a href="/message/{{this._id}}" >
                      <li class="clearfix friend">
                          <img src={{this.profilePicture}} alt="avatar">
                          <div class="about">
                              <div class="name">{{this.firstName}} {{this.lastName}}</div>
                              {{!-- <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                             --}}
                          </div>
                      </li>
                      </a>
                    {{/each}}
                </ul>
            </div>
            <div class="chat">
              <div class="chat-header clearfix">
                  <div class="row">
                      <div class="col-lg-6">
                          <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                              <img src={{session.profilePicture}} alt="avatar">
                          </a>
                          <div class="chat-about">
                              <h6 class="m-b-0">{{session.firstName}}{{session.lastName}}</h6>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="chat-history">
                  <ul class="m-b-0">
                    <li class="clearfix message"> Choose a conversation </li>
                  </ul>
              </div>
            </div>
        </div>
    </div>
</div>
</div>