<div class="card chat-app">
    <div class="side-bar">
        <div class="people-list list-unstyled chat-list mt-2 mb-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          {{#each data.friends}}
              <div class="friend-container">
                <a class="friend-anchor" href="/message/{{this._id}}">
                    <img
                    class="friend-image"
                    src={{this.profilePicture}}
                    alt={{this.firstName}}
                    />
                    {{!-- <div class="about"> --}}
                    <span class="message-friend-name">{{this.firstName}} {{this.lastName}}</span>
                    {{! <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                             }}
                    {{!-- </div> --}}
                </a>
              </div>
          {{/each}}
        </div>
    </div>
    <div class="chat">
      <div class="chat-header clearfix">
          <div class="row">
              <div class="col-lg-6">
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                      <img src={{data.user.profilePicture}} alt="avatar">
                  </a>
                  <div class="chat-about">
                      <h6 class="m-b-0">{{data.user.firstName}} {{data.user.lastName}}</h6>
                  </div>
              </div>
          </div>
      </div>
      <div class="chat-history">
          {{#if data.messages.length}}
            <div class="message-input-group mb-0">
                <form class="message-form" action="/message/{{data.user._id}}" method="post">
                  <input
                    id="message-input"
                    class="message-input form-control"
                    name="message"
                    type="text"
                    placeholder="Send {{data.user.firstName}} a message!"
                  />
                  <input type="submit" value="Send Message" />
              </form>                                  
            </div>
            <div class="message-list" >
              {{#each data.messages}}
                {{#ifEquals this.sender._id ../sessionUser._id}}
                  <div class="message">
                    <div class="message-data">
                        <img class="float-left" src={{this.sender.profilePicture}} alt="avatar">
                        <span class="message-data-time float-left">{{this.datePosted}}</span>
                    </div>
                    <div class="message my-message">
                      {{this.message.text}}
                    </div>                                    
                  </div>    
                {{else}}
                  <div class="message">
                    <div class="message-data">
                        <img class="float-right" src={{this.sender.profilePicture}} alt="avatar">
                        <span class="message-data-time float-right">{{this.datePosted}}</span>
                    </div>
                    <div class="message other-message"> 
                      {{this.message.text}} 
                    </div>
                  </div>
                {{/ifEquals}}
              {{/each}}
            </div>

            
          {{else}}
            <div class="message-input-group mb-0">
                <form class="message-form" action="/message/{{data.user._id}}" method="post">
                  <input
                    id="message-input"
                    class="message-input form-control"
                    name="message"
                    type="text"
                    placeholder="Start a conversation with {{data.user.firstName}}!"
                  />
                  <input type="submit" value="Start Conversation" />
              </form>                                  
            </div>
          {{/if}}
      </div>
    </div>
</div>