<div class="post-list">

  <div class="card">
    <form class="post-form" id="new-post-form" action="/posts" method="post">
      <input
        id="message-input"
        class="message-input"
        name="message"
        type="text"
        placeholder="Hi {{user.firstName}}, what's on your mind?"
      />
      <input type="submit" value="Post" />
    </form>
  </div>

  {{#each posts}}

    <div class="post-container card" id="{{this._id}}">

      <div class="profile-picture">
          <img src={{this.user.profilePicture}} width="100"
            height="100"
            class="rounded-circle"/>
      </div>
      <div class="post-header">
        <span class="name">{{this.user.firstName}} {{this.user.lastName}}</span>
        <div class="date-posted">{{this.createdAt}}</div>
      </div>

      <div class="user-info">
        <div class="post-header">
          <span class="name">{{this.user.firstName}} {{this.user.lastName}}</span>
          <span class="date-posted">15 mins ago</span>
        </div>

        <div class="post-body">
          <p class="message">
            {{this.message}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}

</div>