<div class="post-list">

  <div class="card">
    <form class="post-form" id="new-post-form" action="/posts" method="post">
      <input
        id="message-input"
        class="message-input"
        name="message"
        type="text"
        placeholder="Hi {{user.firstName}}, what's on your mind?"
      />
      <input
        id="img-input"
        class="message-input"
        name="image"
        type="text"
        placeholder="Insert URL"
      />
      <input type="submit" value="Post" />
    </form>
  </div>

  {{#each posts}}

    <div class="post-container card" id="{{this._id}}">
       <div class="actual-post">
        <div class="profile-picture">
          <a href="/profile/{{this.user._id}}">
          <img
            src={{this.user.profilePicture}}
            width="100"
            height="100"
            class="rounded-circle"
          />
        </a>
      </div>
      <div class="post-header">
        <a href="/profile/{{this.user._id}}">
        <span class="name">{{this.user.firstName}} {{this.user.lastName}}</span>
        </a>
        <div class="date-posted">{{this.createdAt}}</div>
      </div>

      <div class="user-info">
        <div class="post-header">
          <span class="name">{{this.user.firstName}}
            {{this.user.lastName}}</span>
          <span class="date-posted">15 mins ago</span>
        </div>
        <div class="post-body">
          <div class="post-header">
            <span class="post-author">{{this.user.firstName}}
              {{this.user.lastName}}</span>
            <div class="date-posted">{{this.datePosted}}</div>
          </div>

          <div class="post-content">
            {{#if this.image}}
              <p class="image">
                <img src={{this.image}} width="200" height="200" />
              </p>
            {{/if}}

            <p class="message">
              {{this.message}}
            </p>

          </div>

          <div class="post-footer">

            <p>{{this.comments.length}} comments</p>
            {{!-- <p>{{this.likes.length}} likes</p> --}}
            {{! buttons for likes, comments, update post will be here }}
          </div>
        </div>
      </div>
      <div class="comments-list">
        <form class="comment-form" action="/comments/new" method="post">
          <input type="hidden" name="postId" value="{{this._id}}" />
          <input class="comment-input" name="comment" type="text" />
          <input type="submit" value="Add Comment" />
        </form>
        {{#each this.comments}}
          {{! Loop through all available comments linked to the above post id }}
          {{! Each comment will have its own div -> user profile picture, name and message +/- time }}
          <div class="comment-container">
            <div class="comment-profile-picture">
              <img
                src={{this.user.profilePicture}}
                width="30"
                height="30"
                class="rounded-circle"
              />
            </div>
            <div class="comment-body">
              <div class="comment-header">
                <span class="comment-author">{{this.user.firstName}}</span>
                <span class="date-posted">{{this.createdAt}}</span>
                {{! comment's user name and time posted }}
              </div>
              <div class="comment-text">
                {{this.message}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}

</div>