<div class="post-list">

  <div class="card">
    <form class="post-form" id="new-post-form" action="/posts" method="post">
      <input
        id="message-input"
        name="message"
        type="text"
        placeholder="Hi {{user.firstName}}, what's on your mind?"
      />
      <input type="submit" value="Post" />
    </form>
  </div>

  {{#each posts}}

    <div class="post-container card" id="{{this._id}}">

      <div class="post-header">
        <span class="name">{{this.user.firstName}} {{this.user.lastName}}</span>
        <div class="date-posted">{{this.createdAt}}</div>
      </div>

      <div class="post-body">
        <p class="message">
          {{this.message}}
        </p>
      </div>

    </div>
  {{/each}}

</div>